.my-profile {
    margin: 90px 400px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1 {
    margin-top: 15px;
    font-size: 44px;
    font-weight: bold;
}
.h2 {
    text-align: center;
    font-size: 24px;
}
.status {
    margin: 20px auto;
    font-size: 20px;
}
.profile-img {
    width: 243px;
    height: 243px;
    border: 2px solid var(--dark-gray);
    border-radius: 50%;
    position: relative;
}

.favourite {
    display: flex;
    margin: 20px 0;
    gap: 150px;
}

.fav-examples {
    display: flex;
}
.fav-examples .img{
    width: 75px;
    height: 75px;
    z-index: 1;
    background-color: #fff;
    border-radius: 50%;
}
.fav-examples .img:first-child{
    margin-right: -25px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
}
.fav-examples .img:last-child{
    margin-left: -25px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 0;
}

.general-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logout-button {
    background-color: #ff6257;
    border: 0;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    color: var(--dark-gray);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px auto 0;
}
.logout-button:hover {
    background-color: #c7271c;
}
.logout-image {
    width: 20px;
    height: 20px;
}

.edit-button {
    background-color: #d6d6d6;
    border: 0;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    color: var(--dark-gray);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.edit-button:hover {
    background-color: #a6a6a6;
}
.edit-image {
    width: 20px;
    height: 20px;
}


// .edit-profile-image {
//     width: 40px;
//     height: 40px;
//     border: 1px solid var(--gray);
//     background-color: var(--light-gray);
//     border-radius: 7px;
//     position: absolute;
//     top: 45%;
//     right: 44%;
//     z-index: 5;
// }
// .edit-profile-image:hover {
//     background-color: var(--gray);
// }
// .edit-profile-image .img {
//     width: 30px;
//     height: 30px;
// }