.root {
  width: 100%;
  min-height: 100vh;

  display: flex;

  background-color: #fff;
}

.content {
  margin: 5.5% auto;
  max-width: 460px;
  width: 100%;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
}

.card {
  width: 100%;
  max-width: 400px;
  background-color: #ededed;
  border: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.form-control {
  height: 40px;
}

.button {
  background-color: #008000;
  border: 0;
  transition: background-color 0.3s;
  width: 100%;
}

.button:hover {
  background-color: #006400;
}

.link {
  color: #008000;
  font-weight: bold;
  text-align: center;
}

.link:hover {
  color: #006400;
}