.cart-list {
    min-height: 120px;
    width: 100%;
    max-width: 1200px; 
    border-radius: 25px;
    background-color: var(--light-gray);
    margin: 90px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item {
    background-color: var(--gray);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin-top: 18px;
    box-sizing: border-box;
    align-items: center;
    gap: 20px; 
}

.cart-item:last-child {
    margin-bottom: 18px;
}

.cart-info {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    align-items: flex-start;
}

.cart-list-empty {
    font-size: 20px;
    margin: auto;
    color: #666;
}

.item-img {
    background-color: #FFF;
    object-fit: contain;
    border-radius: 8px;
    transition: all 0.1s ease;
    cursor: zoom-in;
}

.item-img.zoomed {
    transform: scale(1.65);
    margin: 0;
    border-radius: 10px;
    box-shadow: 0px 10px 10px var(--dark-gray);
    z-index: 1000;
    border: 1px solid var(--gray);
}

.item-text-info {
    flex-grow: 1;
    max-width: 480px;
    min-width: 300px;
}

.item-name {
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.item-desc {
    max-width: 100%; 
    line-height: 1.5;
    height: calc(1.5em * 3);
    font-size: 16px;
    padding: 0;
    overflow-wrap: break-word;
    white-space: normal;
    display: block; 
}

.item-review .p {
    font-size: 40px;
}

.quantity {
    display: flex;
    gap: 10px;
    align-items: center;
}
.quantity button {
    border: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.quantity button:hover {
    background-color: #a6a6a6;
}
.quantity button img{
    width: 20px;
    height: 20px;
    margin: auto;
}
.input-number {
    border: 1px solid #303030;
    border-radius: 7px;
    text-align: center;
    background-color: var(--light-gray);
    cursor: auto;
    font-size: 24px;
    height: 40px;
    width: 40px;
    padding: 0 1px 0 0;
}
.input-number:focus {
    outline: 1px solid #303030;
}
.input-number::-webkit-inner-spin-button, 
.input-number::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.item-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price {
    font-weight: bold;
    font-size: 18px;
}

.remove-item {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    border-radius: 7px;
    height: 50px;
    display: flex;
    padding: 5px;
}
.remove-item:hover {
    background-color: #a6a6a6;
}
.remove-item .img {
    width: 40px;
    height: 40px;
}

.order-data {
    max-width: 600px;
    width: 100%;
    background-color: var(--light-gray);
    padding: 40px;
    margin: 50px auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row-data {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.label {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-gray);
    display: flex;
    margin-bottom: 4px;
    width: 100%;
}

.input-data {
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid #a6a6a6;
    border-radius: 25px;
    max-width: 100%;
    width: 100%;
    height: 45px;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.input-data:focus {
    outline: black;
    border-color: black;
    box-shadow: 0 0 5px var(--primary-color);
}

.input::placeholder {
    color: #aaa;
}

.select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row-select{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.select-container .label {
    text-align: center;
    margin-bottom: 8px;
}

.select-container .select {
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid #a6a6a6;
    border-radius: 25px;
    width: 100%;
    height: 45px;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.confirm-button {
    padding: 15px 30px;
    background-color: #008000;
    border-radius: 7px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
    transition: background-color 0.3s ease;
    margin: auto 0;
}

.confirm-button:hover {
    background-color: #006400;
    cursor: pointer;
}
.input-data-select {
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid #a6a6a6;
    border-radius: 25px;
    max-width: 100%;
    width: 100%;
    height: 45px;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.option-select {
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: white;
    border: 1px solid #ddd;
}

.option-selecthover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.option-selectchecked {
    background-color: #e0e0e0;
}

.input-data-select:focus {
    outline: none;
    border-color: #008000;
    box-shadow: 0 0 5px #008000;
}

.paypal-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
  }
  
  .paypal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .paypal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 32px;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }