.header {
  display: flex;
  align-items: center;
  background-color: #ededed;
  padding: 4px 60px;
  position: fixed;
  z-index: 1;
  width: 100%;
  justify-content: space-around;
}

.logo .img {
  width: 300px;
}

.img {
  width: 100%;
  height: 100%;
}

.nav {
  a {
    white-space: nowrap;
  }
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: 20px;
}

.nav ul li a {
  text-decoration: none;
  color: #303030;
  padding: 22px 40px 23px 40px;
  font-size: 26px;
  width: 190px;
}

.nav ul li a:hover {
  background-color: #a6a6a6;
}

.search-and-filters {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.search-bar {
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  font-size: 16px;
  width: 320px;
}

.search-bar:focus {
  outline: 1px solid #a6a6a6;
}

.filter-button {
  border: none;
  background-color: #ededed;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.filter-button .img {
  width: 25px;
  padding: 4px 0;
}

.filter-button:hover {
  background-color: #a6a6a6;
}

.profile {
  padding: 0;
}

.profile .img {
  width: 45px;
  height: 45px;
}

.icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.icons .a {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 0;
  display: flex;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.CartID {
  padding-right: 2px;
}

// .icons .a:hover {
//   background-color: #a6a6a6;
// }
.icons .a svg {
  width: 50px;
}

.profile-dropdown {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-dropdown:hover {
  background-color: #a6a6a6;
  cursor: pointer;
}

.profile-dropdown-without-profile {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: auto;
  justify-content: center;
}

.profile-dropdown-without-profile .profile img {
  height: 20px;
  width: 20px;
}

.profile-dropdown-without-profile .profile {
  display: flex;
  border-radius: 5px;
  align-items: center;
  gap: 5px;
  padding: 3px;
}

.profile-dropdown-without-profile .profile:hover {
  background-color: #a6a6a6;
}

.cart-dropdown {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-dropdown:hover {
  background-color: #a6a6a6;
  cursor: pointer;
}

.cart-dropdown .cart-quantity {
  font-size: 14px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  top: -2px;
  right: -5px;
  text-align: center;
  color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.filter-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 100;
}

.filter-button {
  position: relative;
}

.filter-menu {
  position: absolute;
  top: 25%;
  left: 82.5%;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.filter-option {
  margin-bottom: 10px;
}

.filter-option label {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}

.filter-option select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}