html {
  --dark-gray: #303030;
  --light-gray: #dfdfdf;
  --gray: #d1d1d1;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  color: var(--light-gray);
  padding: 4px;
}

.content {
  padding-top: 75px;
  max-width: 2000px;
}

.common-text {
  font-size: 18px;
  color: var(--dark-gray);
}

.width-100 {
  width: 100%;
}

// *,
// *::after,
// *::before {
//   box-sizing: border-box;
// }

// * {
//   transition-property: none;
//   transition-duration: .2s;
//   transition-delay: 0s;
//   transition-timing-function: ease-in-out;
// }

// body {
//   font-family: var(--font-roboto), sans-serif;
//   font-weight: 400;
// }

// p {
//   margin: 0;
// }

// ::-webkit-scrollbar {
//   width: 10px;
//   height: 8px;
//   background-color: #000;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #1abce0;
//   border-radius: 10px;
//   box-shadow: inset 1px 1px 10px #1a6374;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background-color: #16a0be;
// }

// ::-webkit-scrollbar-button:vertical:start:decrement {
//   background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
//   background-color: #f6f8f4;
//   display: none;
// }

// ::-webkit-scrollbar-button:vertical:end:increment {
//   background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
//   background-color: #f6f8f4;
//   display: none;
// }

// ::-webkit-scrollbar-button:horizontal:start:decrement {
//   background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
//   background-color: #f6f8f4;
//   display: none;
// }

// ::-webkit-scrollbar-button:horizontal:end:increment {
//   background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
//   background-color: #f6f8f4;
//   display: none;
// }