.contact .h1 {
  text-align: center;
  color: var(--dark-gray);
  font-weight: bold;
  margin-top: 90px;
  font-size: 32px;
}

.contact .h2 {
  text-align: center;
  color: var(--dark-gray);
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0;
}

.our-contacts {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.our-contacts .img {
  width: 50px;
  height: 50px;
}

.contact-box {
  display: flex;
  border: 2px solid var(--dark-gray);
  width: 300px;
  border-radius: 15px;
  padding: 15px;
  margin: 20px 50px 20px 50px;
  transition: all 0.3s ease;
  max-height: 100px;
}

.contact-box:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.contact-box .a {
  color: var(--dark-gray);
  font-weight: bold;
  text-decoration: none;
  margin: 5px;
}

.contact-box .a:hover {
  color: green;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.send-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .send-message-box {
  height: auto;
  width: 1200px;
  border-radius: 25px;
  background-color: #ededed;
}

.send-message-box .input {
  font-size: 20px;
  padding-left: 10px;
  border: 1px solid #a6a6a6;
  border-radius: 25px;
  max-width: 500px;
  height: 45px;
  margin-bottom: 24px;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.form-column-1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
}

.form-column-2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
}

.send-message-box input:focus {
  outline: 1px solid #a6a6a6;
}

.send-message-box textarea {
  font-size: 20px;
  padding: 10px 15px;
  border: 1px solid #a6a6a6;
  border-radius: 25px;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
}

.send-message-box textarea:focus {
  outline: 1px solid #a6a6a6;
}

.send-message-box label {
  font-size: 20px;
  color: var(--dark-gray);
  margin-bottom: 8px;
}

.send-message-box label:last-child {
  text-align: center;
}

.send-message-box form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
}

.send-message-box form button {
  width: 250px;
  height: 45px;
  border: 0;
  border-radius: 30px;
  background-color: #3dd442;
  margin: 20px auto 0;
  cursor: pointer;
  font-size: 18px;
}

.send-message-box form button:hover {
  background-color: #00b006;
}